<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="navbar-brand">Register of presentations</li>
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
          {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'add_pres' %}">Загрузить презентацию</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'email' %}">Оставить отзыв</a></li>
          {% endif %}
      </ul>
        <span class="navbar-text">
            {% if request.user.is_authenticated %}
                Добро пожаловать, {{ user.first_name }} {{ user.last_name }} |
                <a href="{% url 'logout' %}"><button type="button" class="btn btn-light">Выйти</button></a>
            {% else %}
                 <a href="{% url 'register' %}"><button type="button" class="btn btn-light">Регистрация</button></a>|
                 <a href="{% url 'login' %}"><button type="button" class="btn btn-light">Авторизация</button></a>
            {% endif %}

        </span>
    </div>
</nav>